img{
    border-radius: 1px;
    width: 357px;
    height: 267px;
}
.img-raised{
    box-shadow: $box-shadow-raised;
}

.profilna {
    img{
    border-radius: 1px;
    width: 125px;
    height: 130px; }
}
